
.bfg-post {
  --bfg-c--link: #0091ff;
  --bfg-c--visited: #8d8d8d;
  --bfg-c--hover: #0062c3;  
  --bfg-limit: 940px;
  --bfg-gap: 20px;
  --bfg-cols: 4;

  color: #1d1d1d;
  background-color: #fff;
  max-width: none;
  padding: 0 20px 0  20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.bfg-prison {
  display: grid;
  grid-template-columns: repeat(var(--bfg-cols), minmax(0, calc( (var(--bfg-limit) - ((var(--bfg-cols) - 1) * var(--bfg-gap))) / var(--bfg-cols))));
  grid-gap: 0 var(--bfg-gap);
}

.bfg-post .bfg-machine-gun {
  display: flex;
  flex-direction: column;
  grid-column: span var(--bfg-cols);
  min-width: 0;
  margin: 0;
  box-sizing: border-box;
}

.bfg-machine-gun:first-child {
  margin-left: 0;
}



.bfg-post [data-col-width="3"] {
  flex-basis: 300%;
  --bfg-cols: 3;
}

.bfg-post [data-col-width="1"] {
  --bfg-cols: 1;
  flex-basis: 100%;
}

.bfg-post .bfg-machine-gun {
  flex-basis: calc(100% * var(--bfg-cols) + var(--bfg-gap) * (var(--bfg-cols) - 1));
}


.bfg-post.bfg-post>* {
  grid-column: 2;
  min-width: 0;
  max-width: none;
}

.bfg-post .bfg-machine-gun>* {
  flex: 0 0 auto;
}

 .bfg-post p, 
 .bfg-post li, 
 .bfg-post th, 
 .bfg-post td {
  --family: Georgia;
  --size: 18px;
  --weight: 400;
  --height: 30px;
}

.bfg-post .bfg-theme__style_large_header, 
.bfg-post h1, 
.bfg-post h2 {
  --family: "Open Sans Condensed";
  --size: 60px;
  --weight: 700;
  --height: 75px;
}

.bfg-post h1, 
.bfg-post h2, 
.bfg-post h3, 
.bfg-post h4, 
.bfg-post h5, 
.bfg-post h6, 
.bfg-post p, 
.bfg-post .bfg-description, 
.bfg-post .bfg-description {
  font-family: var(--family),"stk";
  font-size: var(--size);
  font-weight: var(--weight);
  line-height: var(--height);
  min-height: var(--height);
}

.bfg-post .small-text {
  font-size: 15px;
}
