.articleContainer {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.articleColumn {
    width: 595px;
}

.articleGrid {
  margin-bottom: 20px;
}

.articleSideColumn {

}

.articleContentColumn {

}

.group {
  border: 5px solid red;
  padding: 5px;
  overflow: hidden;
}